* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myCanvas {
    background: center / contain url('/images/background2.png');
}


.hidden {
    display: none;
}


